body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom, #ffcc00, #ff9900);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
}

h1 {
  text-align: center; /* Centra il testo orizzontalmente */
  font-size: 36px; /* Puoi regolare la dimensione del font a tuo piacimento */
  width: 100%; /* Assicura che l'elemento prenda tutta la larghezza disponibile */
  margin: 20px 0; /* Distanza superiore e inferiore */
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-height: 90vh;
  overflow-y: auto;
  width: 100%;
  border-radius: 20px;
}

.team {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid pink;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s;
}

.team:hover {
  transform: scale(1.05);
}

.team h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.player {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.player:hover {
  background-color: #e6e6ff;
}

/* team pari di colore gradiente  giallo */
.team:nth-child(even) {
  background: linear-gradient(to bottom, #ffff00, #ffcc00);
}

/* team dispari di colore gradiente  verde */
.team:nth-child(odd) {
  background: linear-gradient(to bottom, #00ff00, #00cc00);
}

.team h2 {
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.team ul{
  text-align: center;
}