/* Contenitore del bottone */
.button-container {
  text-align: center;
  margin-top: 20px;
}

/* Bottone Aggiungi Dato */
.btn-aggiungi {
  background-color: #4caf50; /* Colore verde */
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-aggiungi:hover {
  background-color: #45a049; /* Colore verde più scuro al passaggio del mouse */
}

/* Pop-up */
.pop-up {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  animation: fadeIn 0.3s ease-out;
  text-align: center;
}

/* Stile del campo di input */
.pop-up input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Messaggio di errore */
.error-message {
  color: red;
  font-size: 14px;
  display: none;
  margin-bottom: 10px;
}

/* Bottone Aggiungi nel pop-up */
.btn-aggiungi-dato {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-aggiungi-dato:hover {
  background-color: #0056b3;
}

/* Bottone Annulla */
.btn-annulla {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.btn-annulla:hover {
  background-color: #d32f2f;
}

/* Animazione di apertura del popup */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Tabella */
.table-container {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  color: #333;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: center;
  font-size: 14px;
  background-color: #f4f4f4;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-container tr:hover {
  background-color: #e9e9e9;
}

/* Icona del cestino */
.table-container .cestino {
  cursor: pointer;
  font-size: 18px;
  color: #f44336;
  transition: color 0.3s ease;
}

.table-container .cestino:hover {
  color: #d32f2f;
}
